<p class="contact">
    Get in touch with us!
    <a href="mailto:contact@warmpanda.com">contact@warmpanda.com</a>
</p>
<nav>
    <a href="../index.html">Home</a> |
    <a href="../introduction.html">Introduction</a> |
    <a href="../contract.html">Contract</a> |
    <a href="https://github.com/wespackham">GitHub.com</a> |
    <a href="https://webpages.charlotte.edu/wpackham/">CLT Web</a> |
    <a href="https://wespackham.github.io/">GitHub.io</a> |
    <a href="https://www.linkedin.com/in/wespackham/">LinkedIn</a> |
    <a href="../wpcreative.cc">WP Creative</a> |
    <a href="./about.html">Warm Panda Clothing</a>
</nav>
<p>Page designed by <a href="../wpcreative.cc">WP Creative</a></p>