<header>
<h1>Wes Packham's Warm Panda | ITIS3135</h1>
    <nav>
        <a href="./index.html">Home</a>
        <a href="./introduction.html">Introduction</a>
        <a href="./contract.html">Contract</a>
        <a href="./website_evaluations.html">Site Evaluations</a>
        <a href="./fccfsjs_outline.html">FCC JS Plan</a>
    </nav>

    <nav>
        <a href="./warmpanda/about.html" target="_new">Warm Panda Clothing</a>
        <a href="./stuff/GOOD%20WEBPAGE%20&&&.htm" target="_new">Crap Website</a>
        <a href="./hobby/index.html" target="_new">Hobby</a>
    </nav>
</header>