    <h1>Wes Packham - ITIS-3135</h1>
    <h2>Warm Panda</h2>
    <nav>
        <a href="./index.html">Home</a>
        <a href="./introduction.html">Introduction</a>
        <a href="./contract.html">Contract</a>
        <a href="./website_evaluations.html">Website Evaluations</a>
        <a href="./fccfsjs_outline.html">FCC JavaScript Outline</a>
    </nav>

    <nav>
        <a href="./wpcreative.cc">WP Creative</a>
        <a href="./warmpanda/about.html">Warm Panda Clothing</a>
        <a href="./stuff/GOOD%20WEBPAGE%20&&&.htm">Crap Website</a>
    </nav>