    <h1>Wes Packham - ITIS-3135</h1>
    <h2>Warm Panda</h2>
    <nav>
        <a href="/itis3135/index.html">Home</a>
        <a href="/itis3135/introduction.html">Introduction</a>
        <a href="/itis3135/contract.html">Contract</a>
        <a href="/itis3135/website_evaluations.html">Website Evaluations</a>
        <a href="/itis3135/fccfsjs_outline.html">FCC JavaScript Outline</a>
    </nav>

    <nav>
        <a href="/itis3135/wpcreative.cc">WP Creative</a>
        <a href="/itis3135/warmpanda/about.html">Warm Panda Clothing</a>
        <a href="/itis3135/stuff/GOOD%20WEBPAGE%20&&&.htm">Crap Website</a>
    </nav>